@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html, body {
    overflow-x: hidden;
}

body {
    position: relative;
    background: #0a0a0e;
    height: 100%;
    width: 100%;
    font-family: 'Muli', sans-serif;
    text-align: left;
    font-size: 20px;
    color: white;
    margin: 0px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

a:link, a:visited, a:active {
    color: #ffffff;
    text-decoration: none
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

@-webkit-keyframes anim {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }
}

@-moz-keyframes anim {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }
}

@-o-keyframes anim {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }
}

@keyframes anim {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }
}

#main {
    position: relative;
    width: 1600px;
    height: 90%;
    top: 50px;
    left: 50%;
    margin: -0px -800px;
}

#name {
    background: linear-gradient(90deg, #80ffdb, #a600ff);
    background-size: 200% 100%;
    -webkit-animation: anim 20s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-animation: anim 20s ease infinite;
    -o-animation: anim 20s ease infinite;
    animation: anim 20s ease infinite;
    text-align: center;
    font-size: 170px;
}

#github {
    position: relative;
    width: 100%;
    top: 30px;
    color: #fff;
    transition: .5s ease;
}

    #github:hover {
        background: linear-gradient(90deg, #80ffdb, #a600ff);
        background-size: 200% 50%;
        -webkit-animation: anim 20s ease infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-animation: anim 5s ease infinite;
        -o-animation: anim 5s ease infinite;
        animation: anim 5s ease infinite;
        transition: .5s ease;
    }

#github_logo {
    position: relative;
    left: 50%;
    margin: -0px -28px;
    font-size: 60px;
}

#github_text {
    text-align: center;
    font-size: 24px;
}

#projects {
    position: relative;
    top: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#proj {
    position: relative;
    width: 250px;
    height: auto;
    margin: 20px;
    text-align: center;
}

#title {
    font-size: 30px;
    font-weight: bold;
    color: #a600ff;
}

#desc {
    position: relative;
    color: #fff;
    top: 10px;
}

i {
    font-size: 35px;
}

#languages {
    position: relative;
    top: 25px;
}

@media screen and (max-width: 1600px) {
    #main {
        width: 100%;
        left: 0%;
        margin: 0px;
    }
}

@media screen and (max-width: 1261px) {
    #main {
        top: 0px;
    }

    #name {
        font-size: 12.31vw;
    }
}
