@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
html, body {
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  position: relative;
  background: #0a0a0e;
  height: 100%;
  width: 100%;
  font-family: 'Muli', sans-serif;
  text-align: left;
	font-size: 20px;
	color: white;
  margin: 0px;
}
a:link, a:visited, a:active {
 color:#ffffff;
 text-decoration:none
}
@-webkit-keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
}
@-moz-keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
}
@-o-keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
}
@keyframes anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
}
#main {
  position: relative;
  width: 1600px;
  left: 50%;
  margin: -0px -800px;
  text-align: center;
  font-size: 170px;
  background: linear-gradient(90deg, #80ffdb, #a600ff);
  background-size: 200% 100%;
  -webkit-animation: anim 20s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-animation: anim 20s ease infinite;
  -o-animation: anim 20s ease infinite;
  animation: anim 20s ease infinite;
}

@media screen and (max-width: 1600px) {
 
  #main {
    width: 100%;
    font-size: 10.6vw;
    left: 0%;
    margin: 0px;
  }


}
